<tr>
  <td><%= hacker.name %></td>
  <td><%= get_state(hacker) %></td>
  <td><%= hacker.school %></td>
  <td><%= hacker.year %></td>
  <td>
    <%= link_to "View More", admin_view_user_path(hacker.id), class: "ui button", target: '_blank' %>
  </td>
</tr>
