<div class="ui divided items" id="user_data">
  <div class="item">
    <h1 class="image">
      School
    </h1>
    <div class="content">
      <div class="header">
        <%= mentor.school %>
      </div>
      <div class="meta">
        <%= mentor.year %>
      </div>
    </div>
  </div>
  <div class="item">
    <h1 class="image">
      Phone
    </h1>
    <div class="content">
      <div class="header">
        <%= phone(mentor) %>
      </div>
      <div class="meta">
        <%= get_state(mentor) %>
      </div>
    </div>
  </div>
  <div class="item">
    <h1 class="image">
      Expertise
    </h1>
    <div class="content">
      <div class="description">
        <%= mentor.interests.join(", ") %>
      </div>
    </div>
  </div>
  <div class="item">
    <h1 class="image">
      Essay #1
    </h1>
    <div class="content">
      <div class="header">
        Describe your previous mentoring experience, if any.
      </div>
      <div class="description">
        <%= mentor.experience %>
      </div>
    </div>
  </div>
  <div class="item">
    <h1 class="image">
      Essay #2
    </h1>
    <div class="content">
      <div class="header">
        Why do you want to mentor at Blueprint?
      </div>
      <div class="description">
        <%= mentor.desire %>
      </div>
    </div>
  </div>
  <div class="item">
    <h1 class="image">
      Diet
    </h1>
    <div class="content">
      <div class="description">
        <%= mentor.dietary_restrictions %>
      </div>
    </div>
  </div>
  <div class="item">
    <h1 class="image">
      Joined
    </h1>
    <div class="content">
      <div class="description">
        <%= mentor.created_at.strftime("%B %d, %Y") %>
      </div>
    </div>
  </div>
  <div class="item">
  </div>
</div>
