<div class="ui items">
  <div class="item">
    <div class="content">
      <div class="header">
        Name
      </div>
      <div class="description">
        <%= mentor.name %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        (Cell) Phone Number
      </div>
      <div class="description">
        <%= mentor.phone %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        University/Place of Work
      </div>
      <div class="description">
        <%= mentor.school %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        Graduation Year
      </div>
      <div class="description">
        <%= (mentor.year == 0) ? "N/A" : mentor.year %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        Day 1?
      </div>
      <div class="description">
        <% if mentor.availability.include?(0) %>
        <i class="check icon"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        Day 2?
      </div>
      <div class="description">
        <% if mentor.availability.include?(1) %>
        <i class="check icon"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        Shirt Size
      </div>
      <div class="description">
        <%= mentor.shirt_size %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        Dietary Restrictions
      </div>
      <div class="description">
        <%= mentor.dietary_restrictions %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        Expertise
      </div>
      <div class="description">
        <%= mentor.interests.join(", ") %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        Describe your previous mentoring experience, if any.
      </div>
      <div class="description">
        <%= mentor.experience %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        Why do you want to mentor at blueprint?
      </div>
      <div class="description">
        <%= mentor.desire %>
      </div>
    </div>
  </div>
</div>
