<h1 class="ui center aligned icon header">
  <i class="circular meh icon"></i>
  Mentors
</h1>

<div class="ui center aligned header">
  <%= link_to "View Hackers", admin_hackers_path, class: "ui button" %>
  <%= link_to "Log Out", admin_logout_path, method: :delete, class: "ui negative button" %>
</div>

<div class="ui centered aligned header">
  Total Records: <%= @mentors.length %>,
  Confirmed: <%= @mentors.where(status: 5..10000).length %>,
  Day 1: <%= @mentors.where(attending_day1: true).length %>,
  Day 2: <%= @mentors.where(attending: true).length %>,
  Forms: <%= @mentors.where(have_forms: true).length %>
</div>

<table class="ui table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Confirmed?</th>
      <th>Attending Day 1?</th>
      <th>Attending Day 2?</th>
      <th>Forms</th>
    </tr>
  </thead>
<% for mentor in @mentors %>
  <%= render partial: 'mentor_small', locals: { mentor: mentor } %>
<% end %>
</table>
