<div class="ui items">
  <div class="item">
    <div class="content">
      <div class="header">
        Name
      </div>
      <div class="description">
        <%= current_hacker.name %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        (Cell) Phone Number
      </div>
      <div class="description">
        <%= current_hacker.phone %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        High School
      </div>
      <div class="description">
        <%= current_hacker.school %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        Graduation Year
      </div>
      <div class="description">
        <%= (current_hacker.year == 0) ? "N/A" : current_hacker.year %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        Day 1?
      </div>
      <div class="description">
        <% if current_hacker.availability.include?(0) %>
        <i class="check icon"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        Day 2?
      </div>
      <div class="description">
        <% if current_hacker.availability.include?(1) %>
        <i class="check icon"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        Shirt Size
      </div>
      <div class="description">
        <%= current_hacker.shirt_size %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        Dietary Restrictions
      </div>
      <div class="description">
        <%= current_hacker.dietary_restrictions %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        What do you want to learn?
      </div>
      <div class="description">
        <%= current_hacker.interests.join(", ") %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        Describe your previous coding experience, if any.
      </div>
      <div class="description">
        <%= current_hacker.experience %>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <div class="header">
        Why do you want to come to blueprint?
      </div>
      <div class="description">
        <%= current_hacker.desire %>
      </div>
    </div>
  </div>
</div>
