<% if current_hacker.status == 2 %>

<h1 class="ui header"> Blueprint Decision </h1>

<p> Unfortunately, we couldn’t accept you as a mentor for Blueprint. We still encourage you to apply next year! </p>

<%= link_to('Logout', destroy_hacker_session_path, :method => :delete) %>

<% elsif current_hacker.status == 3 or current_hacker.status == 4 or current_hacker.status == 6 or current_hacker.status == 7 %>

<h1 class="ui header"> Welcome! </h1>

<p>Thanks for signing up to be a mentor! We really appreciate your help.</p>
<p>If you live near MIT, you <strong>must</strong> attend one of our two mentor orientations on <strong>February 11th at 6 pm in room 4-149</strong> in Building 4 or <strong>February 12th at 6 pm in room 3-442</strong> in Building 3.</p>
<p>Please fill out the following form by February 10th at 11:59 pm EST to confirm your attendance.</p>
<p><strong>You also need to email your completed Code of Conduct and Photo Release forms scanned as a single PDF to <a href="mailto:forms@hackmit.org">forms@hackmit.org</a>.</strong></p>

<%= link_to "Code of Conduct Form", '/code_of_conduct.pdf', target: "_blank" %><br />
<%= link_to "Conduct and Photo Release Form", '/photo_release_mentors.pdf', target: "_blank" %><br /><br />

<% end %>

<% if current_hacker.status > 2 %>

<div class="ui form">
  <%= form_for(current_hacker, {as: :hacker, url: info_path, method: :post}) do |f| %>

  <% if current_hacker.status == 3 or current_hacker.status == 6 %>

    <div class="field">
      <%= f.label :attending_day1, "Will you be attending Day 1 of Blueprint?" %>
      <%= f.select :attending_day1, booleans %>
    </div>

  <% end %>

  <div class="field">
    <%= f.label :attending, "Will you be attending Day 2 of Blueprint?" %>
    <%= f.select :attending, booleans %>
  </div>

  <div class="field">
    <%= f.label :orientation, "Which mentor orientation will you be attending?" %>
    <%= f.select :orientation, orientations %>
  </div>

  <div class="field">
    <%= f.label :judging, "Are you willing to be a judge for the hackathon?" %>
    <%= f.select :judging, booleans %>
  </div>

  <div class="field">
    <%= f.submit ((current_hacker.status <= 4) ? "Submit form!" : "Submit changes!"), class: 'ui fluid yellow button' %>
  </div>

  <% end %>
</div>

<% end %>
