<% if current_hacker.status == 0%>
  <div class="ui two steps">
      <div class="completed step">
          <i class="payment icon"></i>
          <div class="content">
              <div class="title">Registered</div>
          </div>
      </div>
      <div class="active step">
          <i class="write icon"></i>
          <div class="content">
              <div class="title">Apply</div>
          </div>
      </div>
  </div>
  <br>
<% else %>
  <%= link_to('Back', status_path) %>
<% end %>

<div class="ui form">
  <%= form_for(current_hacker, {as: :hacker, url: apply_path, method: :post}) do |f| %>

    <div class="field">
      <%= f.label :first_name, "First Name" %>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name, "Last Name" %>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :phone, "(Cell) Phone Number" %>
      <%= f.telephone_field :phone %>
    </div>

    <div class="field">
      <%= f.label :school, (current_hacker.mentor? ? "College" : "High School") %>
      <%= f.text_field :school %>
    </div>

    <div class="field">
      <%= f.label :year, "Graduation Year" %>
      <%= f.number_field :year %>
    </div>

    <label>
      Availability
    </label>
    <div class="grouped inline fields">
      <% days.each do |day| %>
        <div class="field">
          <%= check_box_tag "hacker[availability][]", day[:value], current_hacker[:availability].include?(day[:value]), id: day[:value], class: 'ui checkbox' %>
          <%= f.label "", day[:title], for: day[:value] %>
        </div>
      <% end %>
    </div>

    <div>Shirt Size<br />
    <% shirt_sizes.each do |size| %>
      <%= radio_button_tag "hacker[shirt_size]", size, current_hacker[:shirt_size] == size %>
      <%= f.label "", size %>
    <% end %></div>

    <div><%= f.label :dietary_restrictions, "Dietary Restrictions" %><br />
    <%= f.text_area :dietary_restrictions %></div>

    <div>Coding Interests<br />
    <% interests.each do |interest| %>
      <%= check_box_tag "hacker[interests][]", interest, current_hacker[:interests].include?(interest) %>
      <%= f.label "", interest %><br />
    <% end %></div>

    <div><%= f.submit ((current_hacker.status == 0) ? "Submit your application!" : "Submit changes!") %></div>

  <% end %>
</div>
