<% if current_hacker.status == 0%>
  <div class="ui two stackable steps">
      <div class="completed step">
          <i class="payment icon"></i>
          <div class="content">
              <div class="title">Registered</div>
          </div>
      </div>
      <div class="active step">
          <i class="write icon"></i>
          <div class="content">
              <div class="title">Apply</div>
          </div>
      </div>
  </div>
  <br>
<% else %>
  <br>
  <p>
    <a href="<%= status_path%>">
      &#8592; Back
    </a>
  </p>
<% end %>

<div class="ui form">
  <%= form_for(current_hacker, {as: :hacker, url: apply_path, method: :post}) do |f| %>

    <div class="field">
      <%= f.label :first_name, "First Name" %>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name, "Last Name" %>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :phone, "(Cell) Phone Number" %>
      <%= f.telephone_field :phone %>
    </div>

    <div class="field">
      <%= f.label :school, (current_hacker.mentor? ? "College" : "High School") %>
      <%= f.text_field :school %>
    </div>

    <div class="field">
      <%= f.label :year, "Graduation Year" %>
      <%= f.number_field :year %>
    </div>

    <div class="field">
      <label>
        Availability
      </label>
    </div>

    <% days.each do |day| %>
      <div class="field">
        <div class="ui checkbox">
          <%= check_box_tag "hacker[availability][]", day[:value], current_hacker[:availability].include?(day[:value]), id: "available#{day[:value]}" %>
          <%= f.label "", day[:title], for: "available#{day[:value]}" %>
        </div>
      </div>
    <% end %>

    <div class="field">
      <label>
        Shirt Size
      </label>
    </div>

    <div class="grouped inline fields">
      <% shirt_sizes.each do |size| %>
        <div class="field">
          <div class="ui radio checkbox">
            <%= radio_button_tag "hacker[shirt_size]", size, current_hacker[:shirt_size] == size , id: 'shirt'+size %>
            <%= f.label "", size , for: 'shirt'+size%>
          </div>
        </div>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :dietary_restrictions, "Dietary Restrictions" %>
      <%= f.text_field :dietary_restrictions %>
    </div>

    <div class="field">
      <label>
        Coding Interests
      </label>
    </div>
    <div class="grouped inline fields">
    <% interests.each do |interest| %>
      <div class="field">
        <div class="ui checkbox">
          <%= check_box_tag "hacker[interests][]", interest, current_hacker[:interests].include?(interest), id: interest %>
          <%= f.label "", interest, for: interest %><br />
        </div>
      </div>
    <% end %></div>

    <div class="field">
      <%= f.submit ((current_hacker.status == 0) ? "Submit your application!" : "Submit changes!"), class: 'ui fluid yellow button' %>
    </div>

  <% end %>
</div>
