<h1>Application</h1>

<%= link_to('Back', status_path) %>
<%= link_to('Logout', destroy_hacker_session_path, :method => :delete) %>

<%= form_for(current_hacker, {as: :hacker, url: apply_path, method: :post}) do |f| %>

  <div><%= f.label :first_name, "First Name" %><br />
  <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name, "Last Name" %><br />
  <%= f.text_field :last_name %></div>

  <div><%= f.label :phone, "(Cell) Phone Number" %><br />
  <%= f.telephone_field :phone %></div>

  <div><%= f.label :school, (current_hacker.mentor? ? "College" : "High School") %><br />
  <%= f.text_field :school %></div>

  <div><%= f.label :year, "Graduation Year" %><br />
  <%= f.number_field :year %></div>

  <div>Availability<br />
  <% days.each do |day| %>
    <%= check_box_tag "hacker[availability][]", day[:value], current_hacker[:availability].include?(day[:value]) %>
    <%= f.label "", day[:title] %><br />
  <% end %></div>

  <div>Shirt Size<br />
  <% shirt_sizes.each do |size| %>
    <%= radio_button_tag "hacker[shirt_size]", size, current_hacker[:shirt_size] == size %>
    <%= f.label "", size %>
  <% end %></div>

  <div><%= f.label :dietary_restrictions, "Dietary Restrictions" %><br />
  <%= f.text_area :dietary_restrictions %></div>

  <div>Coding Interests<br />
  <% interests.each do |interest| %>
    <%= check_box_tag "hacker[interests][]", interest, current_hacker[:interests].include?(interest) %>
    <%= f.label "", interest %><br />
  <% end %></div>

  <div><%= f.submit ((current_hacker.status == 0) ? "Submit your application!" : "Submit changes!") %></div>

<% end %>
