<div class="title">
  Hacker Sign Up
</div>

<div class="ui form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <%= f.hidden_field :mentor, value: "0" %>

    <div class="field">
      <%= f.submit "Sign up", class:'ui fluid yellow button' %>
    </div>
  <% end %>
</div>
