<div class="title">
  Apply as Student
</div>

<p>We're excited that you want to join us at <a href="http://blueprint.hackmit.org">Blueprint</a>! Get ready for a weekend of learning and hacking with fellow high school students, at MIT!</p>

<p>Blueprint has two components: the learnathon and the hackathon. You can sign up for one or the other or both! However, we have some capacity limits: only 150 for the learnathon and 300 for the hackathon. To decide this, we will be choosing teams/individuals randomly through our lottery system. We just need a little more information from you before you can submit your application.</p>

<div class="ui two stackable steps">
  <div class="active step">
    <i class="child icon"></i>
    <div class="content">
      <div class="title">Register as Hacker</div>
    </div>
  </div>
  <div class="disabled step">
    <i class="write icon"></i>
    <div class="content">
      <div class="title">Apply</div>
    </div>
  </div>
</div>

<br>

<div class="ui form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <%= f.hidden_field :mentor, value: "0" %>

    <div class="field">
      <%= f.submit "Sign up", class: 'ui fluid yellow button' %>
    </div>
  <% end %>
</div>
