
<div class="title">
  Sign In
</div>

<div class="ui form">
  <%= form_for(resource, as: resource_name, url: session_path(resource)) do |f| %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <div class="ui checkbox">
        <%= f.check_box :remember_me, id: 'remember_me' %>
        <%= f.label :remember_me, for:'remember_me'%>
      </div>
    </div>
    <div class="field">
      <%= f.submit 'Sign in', class: 'ui fluid yellow button' %>
    </div>

    <p>
      <%= link_to "Forgot your password?", start_password_reset_path %>
    </p>
    <p>
      <%= link_to "Hacker Sign Up", hacker_sign_up_path , class: 'ui blue button'%>
      <%= link_to "Mentor Sign Up", mentor_sign_up_path, class: 'ui yellow button'%>
    </p>

  <% end %>
</div>
