<div class="title">
  Be a Mentor
</div>

<p>Thank you for your interest in mentoring for <a href="http://blueprint.hackmit.org">Blueprint</a>. We are excited to give high schoolers the opportunity to make cool apps and learn software dev, hope you are too! We are specifically looking for fellow college students and some company mentors (hackathon only) to help us teach classes and mentor projects.</p>

<div class="subtitle">
  What and when is Blueprint 2015?
</div>

<p>Blueprint is a two-day learnathon and hackathon for high school students held in Stata and the Media Lab. Saturday, Feb. 21, will be a learnathon filled with interactive classes and fun workshops designed to teach students iOS, Android, and web development. We will then host an 8am-8pm hackathon on Sunday, Feb. 22, where students will collaborate to create cool apps and software projects. Breakfast, lunch, and dinner will be served for both days!</p>

<div class="subtitle">
  What am I signing up for?
</div>
<p>We need your help! As a mentor, you can volunteer to help out for either the learnathon, the hackathon, or both. Each mentor, regardless if you’re helping in the learnathon or the hackathon, will be assigned to a group of 6-8 high school students. For the learnathon, there will be a mentor-student checkup every two hours so that students can ask you questions directly. Therefore, if you do get chosen to mentor for the learnathon, we ask that you stay for the full day of workshops to help checkup with students!<p>

<p>For the hackathon, both student and company mentors will be walking around to answer questions that hackers have, but you will also have your group of students to check up on as well.</p>

<p>Registration closes February 6th @ 11:59pm EST!</p>

<div class="ui two stackable steps">
  <div class="active step">
    <i class="child icon"></i>
    <div class="content">
      <div class="title">Register as Mentor</div>
    </div>
  </div>
  <div class="disabled step">
    <i class="write icon"></i>
    <div class="content">
      <div class="title">Apply</div>
    </div>
  </div>
</div>

<br>

<div class="ui form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <%= f.hidden_field :mentor, value: "1" %>

    <div class="field">
      <%= f.submit "Sign up", class: 'ui fluid yellow button'%>
    </div>
  <% end %>
</div>
