<div class="title">
  <%= current_hacker.full_status[:title] %>
</div>

<div>
  <%= current_hacker.full_status[:text] %>
</div><br />

<div>
  You applied as a <%= current_hacker.mentor? ? "mentor" : "hacker" %>.
</div><br />

<div>
  Registration has closed! We'll get back to you on <b>February 9th</b> with our decision!
</div><br />

<%= link_to('View application', apply_path, class: 'ui blue button') %>
<% if current_hacker.team_available? %>
  <%= link_to('View Team', team_path, class: 'ui yellow button') %>
<% end %>
<br>
<%= link_to('Logout', destroy_hacker_session_path, :method => :delete) %>
