<% if current_hacker.attending_day1 %>
<h1 class="ui header">Welcome to Day 1!</h1>
Based on your preferences and the preferences of others, you have been assigned:<br /><br />
<strong class="ui header"><%= current_hacker.track_name %>!</strong><br /><br />
Your mentor group is:<br /><br />
<strong class="ui header"><%= current_hacker.mentor_group %></strong><br /><br />
You can email your mentor (<%= current_hacker.mentor_name %>) here:<br /><br />
<strong class="ui header"><%= mail_to current_hacker.mentor_email %></strong><br /><br />
Can't wait to see you Saturday, February 21st, at <strong>8 AM</strong>
<hr />
<% else %>
<h1 class="ui header">Thanks!</h1>
<% end %>
<% if current_hacker.mentor? %>

<p><strong>If you haven't already, send your completed code of conduct forms scanned as a single PDF to <a href="mailto:forms@hackmit.org">forms@hackmit.org</a>.</strong></p>

<p>Keep an eye out for Facebook posts and email updates as Blueprint approaches! If you have any questions, please email us at <a href="mailto:blueprint@hackmit.org">blueprint@hackmit.org</a>—we don’t bite!</p>

<p><%= link_to "Code of Conduct Form", '/code_of_conduct.pdf', target: "_blank" %><br />
<%= link_to "Conduct and Photo Release Form", '/photo_release_mentors.pdf', target: "_blank" %></p>

<% else %>

<p><strong>If you haven't already, send your completed code of conduct forms scanned as a single PDF to <a href="mailto:forms@hackmit.org">forms@hackmit.org</a>.</strong></p>

<p><strong>Remember to email your completed liability, medical release, and photo release forms scanned as a single PDF to <a href="mailto:forms@hackmit.org">forms@hackmit.org</a>.</strong></p>

<p>Keep an eye out for Facebook posts and email updates as Blueprint approaches! If you have any questions, please email us at <a href="mailto:blueprint@hackmit.org">blueprint@hackmit.org</a>—we don’t bite!</p>

<p style="text-align: center;"><%= link_to "Liability Form", '/liability.pdf', target: "_blank" %><br />
<%= link_to "Medical Release Form", '/parental_medical_form.pdf', target: "_blank" %><br />
<%= link_to "Conduct and Photo Release Form", '/photo_release_hackers.pdf', target: "_blank" %></p>

<% end %>

<% if current_hacker.have_forms? %>
<div class="ui green message">We have received your forms. You're all good!</div>
<% else %>
<div class="ui red message">We haven't yet received your forms. If you've already sent us an email, don't worry - it takes us time to process the emails.</div>
<% end %>

<div>
  <%= link_to('Logout', destroy_hacker_session_path, :method => :delete) %>
</div>
