<div class="title">
  <%= current_hacker.full_status[:title] %>
</div>

<div>
  <%= current_hacker.full_status[:text] %>
</div><br />

<div class="subtext">
  <%= current_hacker.full_status[:subtext] %>
</div><br />

<div>
  You applied as a <%= current_hacker.mentor? ? "mentor" : "hacker" %>.
</div><br />

<%= link_to('Edit your application', apply_path, class: 'ui blue button') %>
<% if current_hacker.team_available? %>
  <br>
  <%= link_to('Join or View Team', team_path, class: 'ui yellow button') %>
  <br>
<% end %>
<br>
<%= link_to('Logout', destroy_hacker_session_path, :method => :delete) %>
