<div id="team">
  <br>
  <p>
    <a href="<%= status_path%>">
      &#8592; Back
    </a>
  </p>
  <h2>
    Your team code:
  </h2>
  <span class="ui massive blue label">
    <%= current_hacker.team_code %>
  </span>

  <p>

  <p>
  Invite friends to join your team by sharing your team code!
  </p>

  <h2>
      Your Team:
  </h2>

  <div class="ui bulleted list">
    <% @team_hackers.each do |hacker| %>
      <span class="item">
        <%= hacker.name %>
      </span>
    <% end %>
  </div>

  <br>

  <%= link_to('Leave Team', team_leave_path, :method => :delete, class: 'ui red button') %>

  <br>

  <div class="ui divider"></div>

  <h1>
      Join a team
  </h1>

  <p>
    To join a friend's team, type their code below:
  </p>

  <div class="ui form">
    <%= form_for(current_hacker, {as: :hacker, url: team_join_path, method: :post}) do |f| %>

      <div class="field">
        <%= f.label :team_code, "Team Code" %>
        <%= f.text_field :team_code, value: "" %>
      </div>

      <div class="field">
        <%= f.submit "Join Team!", class: 'ui fluid yellow button' %>
      </div>

    <% end %>
  </div>
</div>
