<h1>Team Page</h1>

<%= link_to('Back', status_path) %><br />
<%= link_to('Leave Team', team_leave_path, :method => :delete) %><br />

<div>Your team code: <span><%= current_hacker.team_code %></span></div>

<h2>Your Team:</h2>
<ul>
<% @team_hackers.each do |hacker| %>
  <li><%= hacker.name %></li>
<% end %>
</ul>

<%= form_for(current_hacker, {as: :hacker, url: team_join_path, method: :post}) do |f| %>

  <div><%= f.label :team_code, "Team Code" %><br />
  <%= f.text_field :team_code %></div>

  <div><%= f.submit "Join Team!" %></div>

<% end %>
