<div class="title">
  Change Password
</div>

<div class="ui form">
  <%= form_for(resource, as: resource_name, url: update_hacker_password_path, html: { method: :post }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "New password" %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div><br />

    <div><%= f.submit "Change my password", class: 'ui fluid yellow button' %></div>
  <% end %>
</div>
