<!DOCTYPE html>
<html>
<head>
  <title>Blueprint | Admin</title>
  <meta name="viewport" content="initial-scale=1">
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body class="admin">
  <div class="ui inverted menu navbar">
    <div class="ui brand item">
      Blueprint Administration
    </div>
  </div>
<%= yield %>
</body>
</html>
