<!DOCTYPE html>
<html>
<head>
  <title>Blueprint | Register </title>
  <meta name="viewport" content="initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>

  <script>
    $(document).ready(function(){
      $('.main-content').transition('browse in');
    })
  </script>

</head>
<body>

  <div class="main-container">
    <div class="logo">
      Blueprint
    </div>
    <div class="main-content">
      <%= yield %>
    </div>
    <% if notice %>
    <p class="ui warning message"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="ui negative message"><%= alert %></p>
    <% end %>
  </div>

</body>
</html>
