<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title> Blueprint &mdash; Feb 21&ndash;22, MIT </title>
  <meta name="viewport" content="initial-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag	 'application', '//fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Socialite (FB Open Graph) -->
  <meta property="og:title" content="Blueprint 2015"/>
  <meta property="og:site_name" content="Blueprint"/>
  <meta property="og:url" content="http://blueprint.hackmit.org"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="MIT's hackathon for high school students. Learn or sharpen your coding skills. Dive into the world of Computer Science. February 21 - 22." />
  <meta property="og:image" content="http://blueprint.hackmit.org/assets/images/fb.jpg"/>
  <meta property="article:publisher" content="https://www.facebook.com/mitblueprint" />

  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice %>
  <p class="ui warning message"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="ui negative message"><%= alert %></p>
  <% end %>
  <%= yield %>
  <footer>
      Made with <i class="red heart icon"></i> by the Blueprint team
      <br>
      <div class="ui divider"></div>
      <br>
      <div class="icons">
        <a href="https://twitter.com/mitblueprint">
          <i class="twitter link icon"></i>
        </a>
        <a href="https://www.facebook.com/mitblueprint">
          <i class="facebook link icon"></i>
        </a>
        <a href="mailto:blueprint@hackmit.org">
          <i class="send link icon"></i>
        </a>
      </div>
  </footer>
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-58139474-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
</html>
